/**
 * Place your custom styles here.
 */
a.navbar-brand {
  text-align: center;
  font-size: 50px;
}
img.logo_image {
  width: 100%;
  margin-top: 10px;
}

.jumbo_header {
  background-image: url(../images/woodgrain.jpg);
  height: 250px;
}

.jumbo_well {
  margin-top: 30px;
}

.sarcasm {
  vertical-align: middle;
  text-align: center;
}
